<div class="row">
    <div class="col text-center mb-3">
        <h3 class="titulo">Partes y piezas para armar una computadora</h3>
    </div>
</div>
<main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner mt-4" style="height: 350px;">
        {{!-- <div class="carousel-item active">
            <img src="/assets/p3.png" class="d-block w-100" alt="...">
        </div> --}}
        <div class="carousel-item active">
            <img src="/assets/p3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="/assets/ram.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="/assets/placa.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    </div>
    
</main>
     <div class="row btnSecundario">
        <div class="col-sm-12 col-md-6 mt-3 uno">
            <a href="/users/signin" type="button" class="btn btn-outline-secondary btn-block">
                Iniciar Sesión
            </a>
        </div>
        <div class="col mt-3 dos">
            <a href="/users/signup" type="button" class="btn btn-outline-info btn-block ">
                Regístrate
            </a>
        </div>
    </div>