<div class="row">
    <div class="col mb-4 mt-3 text-center">
        <h2>
            Donaciones existentes!
        </h2>
    </div>
</div>

    <div class="row">
        {{#each notes}}
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3" >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src={{url}} class="card-img" alt={{url}}>
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> {{title}} </h5>
                            <p class="card-text"> {{description}} </p>
                            <p class="card-text"><small class="text-muted"> {{date}}</small></p>
                            {{!-- <a href="/" class="btn btn-outline-info btn-block">Requerir</a>
                            <a href="/" class="btn btn-outline-dark btn-block">Donar</a> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>


        
