<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
         <div class="card mb-3 mt-3" >
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="/assets/user.png" class="card-img photeI"  alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">"Bienvenido, {{user.name}} {{user.username}} {{user.usernameF}}"</h5>
                    <p class="card-text">"En esta sección podrás realizar donaciones  de partes y piezas de una computadora que se encuentren en buen estado"</p>
                    <p class="card-text"><small class="text-muted">{{user.date}}</small></p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card mb-3 mt-3" style="max-width: 540px;">
            <div class="row no-gutters">
                {{!-- <div class="col-md-4">
                <img src="{{user.photo}}" class="card-img" alt="...">
                </div> --}}
                <div class="col-md-12">
                    <div class="card mx-auto">
                        <div class="card-body">
                            <p class="lead text-center">
                                Donar más producto!
                            </p>
                            <a href="/notes/add" class="btn btn-outline-success btn-block">
                                Donar Producto
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 mb-4">
    <div class="col text-center">
        <h2>Donaciones realizadas!</h2>
    </div>
</div>

<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
              <img src={{url}} class="card-img-top" style="height: 200px;" alt="Imagen">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                         {{title}}
                         <a href="/notes/edit/{{_id}}">
                             <i class="fa fa-edit"></i>
                         </a>
                    </h4>
                    <p>
                     {{{description}}}
                    </p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-outline-danger btn-block" type="submit">
                            Eliminar
                        </button>
                    </form>
                    <hr>
                    <h6>
                     {{date}}
                    </h6>
                </div>
            </div>
        </div>

        {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">
                            Aun no tienes productos, agregalos!
                        </p>
                        {{!-- <a href="/notes/add" class="btn btn-outline-success btn-block">
                            Crear procducto
                        </a> --}}
                    </div>
                </div>
    {{/each}}
</div>